/* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&family=Roboto:wght@500&display=swap');

/* General Styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "roboto", sans-serif;
}

/* Body Styling */
body {
    display: flex;
    flex-direction: column;
}

/* Header Styles */

/* Sets responsiveness of logo image*/
#mylogo {
    width: 100px;
    margin-top: 5px;
}

/* Swaps the order of logo and menu on smaller screens */
header>a {
    order: 2;
    margin: 0 1rem;
}


/* Navigation Section */

/* header displays hamburger button on smaller screens */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    background-color: rgb(41, 41, 41);
    position: fixed;
    width: 100vw;
    z-index: 99;
    box-shadow: 0 1px 2px #ff5c35;
}

.fa-bars {
    padding: 0 15px;
    color: #ff5c35;
}


/* Only displays content when  hamburger button is clicked*/
#nav-toggle,
#icons-container {
    display: none;
}

/* Drop Down Menu */
nav {
    position: absolute;
    top: 100%;
    background-color: inherit;
    width: 100%;
    box-shadow: 0 1px 2px #ff5c35;
    line-height: 2.3rem;
    padding: 0 10px;
    display: none;
}

#menu a {
    text-decoration: none;
    color: white;
}

#nav-toggle:checked~nav {
    display: block;
    background-color: inherit;
}

/* Provides an indicator on which page is currently on screen*/

#menu .active {
    font-size: x-large;
    font-weight: bold;
    text-decoration: underline;
    color: #ff5c35;
    padding: 1px
}

.register .fa-user {
    display: none;
    color: #ff5c35;
}


/* Main content */

main {

    margin-top: 65px;
    color: black;
}

#landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ff5c35;
    background-image: -webkit-linear-gradient(-30deg, white 85%, #ff5c35 50%);
    min-height: 100vh;
    background-size: cover;
    padding: 0 10px;
}

#landing-page h1 {
    color: #ff5c35;
    font-size: 3.4rem;
}

span {
    color: #ff5c35;
    font-size: xx-large;

}

.welcome-text {
    font-size: x-large;
}

#landing-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

#landing-text>.site-description {
    max-width: 60ch;
}

#landing-text p {
    width: 100%;
    text-align: center;
    margin: 1rem 0;
}


#landing-page-img {
    width: 100%;
    margin-top: 2rem;
    text-align: center;
    display: none;
}

#landing-page-img img {
    width: 100%;
    max-width: 600px;

}

#apps-container {
    width: 20ch;
}

.apps {
    padding: 1em 2em;
    background-color: #ff5c35;
    border: none;
    border-radius: 20px;
    color: black;
    transition: .15s;
    cursor: pointer;
    margin: .3rem;

}

.apps:hover {
    opacity: .8;
}


/* Main Section */
#main-section {
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#main-section>h2 {
    padding: 2rem;
    font-size: 3rem;
    color: #ff5c35;
    width: 90%;
    align-self: center;
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgb(247, 242, 242);
    margin: 2rem;
}


/* Featured cars Section */
#featured-cars-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
    align-items: center;
    background-image: -webkit-linear-gradient(140deg, rgb(196, 196, 196) 20%, white 10%)
}

.featured-car {
    margin: 1rem;
    background-color: rgb(206, 206, 206);
    box-shadow: 0 0 5px black;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

/* Centers the image and text of featured cars section*/

.overlay {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 2rem;

}

.overlay>h3 {
    margin-bottom: 1rem;
}

/* Makes the Featured images the same dimensions*/
.featured-car img {
    width: 100%;
    margin-bottom: 1rem;
    height: 210px;
    object-fit: cover;
}

.featured-car h3 {
    font-size: x-large;
    color: #ff5c35;
}

/* styles the featured cars description */
.featured-car-description {
    max-width: 30ch;
    color: black;
}




/* Search Section*/

#search-bar {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

#search-container {
    width: 80%;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 1px black;
    padding: 1rem;
    background-color: rgb(41, 41, 41)
}

#cars {
    width: 100%;
    height: 50px;
    border: 1.5px solid black;
    text-align: center;
    margin-top: 1rem;
}

#car-of-interest,
#use-of-car {
    width: 100%;
    height: 100px;
    border: 1.5px solid black;
    text-align: center;
    margin-top: 1rem;
}

#car-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    color: white;
}

#car-search>div {
    margin: 1rem;
    text-align: center;
}

.search-button {
    background-color: #ff5c35;
    padding: 1em 2em;
    border: 1px solid black;
    box-shadow: 1px 4px 5px black;
    border-radius: 5px;
    color: white;
    transition: 0.15s;
    font-size: 1rem;
    cursor: pointer;
}

.search-button:hover {
    opacity: 0.8;
}

/* Our Car Options Section */


#our-cars-container {
    background-image: -webkit-linear-gradient(-120deg, white 75%, rgb(196, 196, 196) 40%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#our-cars-container>h2 {
    padding: 2rem;
    font-size: 3rem;
    color: #ff5c35;
    width: 90%;
    align-self: center;
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgb(247, 242, 242);
    margin: 2rem 0;
}

#our-cars {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    max-width: 1440px;
}

.car-list {
    border: 1px solid black;
    box-shadow: 0 0 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 250px;
    height: 500px;
    padding: 0 0 1rem 0;
    overflow: hidden;
    margin-bottom: 2rem;
    background-color: white;
}


.our-cars-img img {
    max-width: 100%;
    object-fit: cover;
    height: 186px;
    transition: 0.15s;
}

.car-list>p {
    font-size: x-large;
    font-weight: bold;
}

.car-list-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.car-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

.price {
    font-size: 2rem;
    padding: 1rem 0;
}

.rent-button {
    background-color: #ff5c35;
    padding: .8em 3em;
    border-radius: 5px;
    border: 1px solid black;
    color: white;
    cursor: pointer;
    box-shadow: 1px 4px 5px black;
}

.rent-button:hover {
    opacity: 0.8;
}


/* Services Section */
#services-container {
    display: flex;
    justify-content: space-around;
    background-color: white;
    flex-direction: column;

}

#services-column {
    display: flex;
    flex-wrap: wrap;
    order: 2;
    justify-content: center;

}

.services-box>i {
    color: black;
}

.services-box {
    width: 300px;
    height: 200px;
    background-color: #ff5c35;
    border: 1px solid black;
    color: black;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 1rem;
    border-radius: 20px;
}

#services-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem 0;
    padding: 1rem 0;
    background-color: #ff5c35;
    border-radius: 10px;
    width: 90%;
    max-width: 690px;
    align-self: center;
}

#services-text>h2 {
    font-size: 3rem;
    margin: 1rem;
}

#services-text>p {
    padding: 2rem;
    font-size: 1.3rem;
    text-align: justify;
}

#list-of-services-section {
    margin-top: 2rem;
    background-image: -webkit-linear-gradient(220deg, white 90%, #ff5c35 50%);
}

#list-of-services-container {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

#list-of-services-container>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

#list-of-services-container>h2 {
    text-align: center;
    font-size: 3rem;
    margin: 2rem 0;
    color: #ff5c35;
}

.list-of-services {
    margin: 1rem;
    background-image: -webkit-linear-gradient(-30deg, rgb(224, 223, 223) 85%, #ff5c35 50%);
    padding: 1rem;
    max-width: 300px;
    border-radius: 10px;
}

.list-of-services>h3 {
    margin-bottom: 1rem;
}

.list-of-services>p {
    text-align: justify;
    padding: 0 .9em;
}

#list-info {
    align-self: center;

}

#list-info>p {
    padding: 1rem;
    text-align: justify;
    font-size: 1.5rem;
    max-width: 500px;
    align-self: center;
    border-radius: 10px;
}

#list-info-img img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    display: none;
}

/* Contact Us Section */
#contact-us-hero {
    width: 100vw;
    height: 200px;
    background-color: rgb(41, 41, 41);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ff5c35;
}

#contact-us-hero>h2 {
    font-size: 3rem;
    text-align: center;
}

#help-search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#help-bar {
    width: 70%;
    max-width: 500px;
    height: 40px;
    border: none;
    border-radius: 5px;
    text-align: center;
    outline: none;
}

#help-btn {
    width: 50px;
    height: 41.5px;
    border: none;
    position: relative;
    background-color: #ff5c35;
    right: 20px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

#contact-us-container>h3 {
    margin: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
}

#contact-us-content {
    text-align: center;
    display: grid;
    grid-template-columns: 250px;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 2rem;
}



#contact-us-content>div {
    width: 100%;
    height: 150px;
    background-color: #ff5c35;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

#contact-us-content .fa-solid {
    font-size: 4rem;
    margin: 1rem;
}

/* Login Section */

#login-container {
    background-color: rgb(41, 41, 41);
    align-items: center;
    display: flex;
    flex-direction: column;

}

#login-container h1 {
    text-align: center;
    font-size: 3rem;
    padding: 1.5rem 0;
    color: #ff5c35;
    margin-bottom: 2rem;
}

#login-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: -webkit-linear-gradient(-30deg, rgb(224, 223, 223) 85%, #ff5c35 50%);
    height: 400px;
    border-radius: 5px;
    margin: 0 3rem 5rem 3rem;
    max-width: 350px;
    width: 96%;

}

#login-column>h4 {
    margin-left: 15px;
    font-size: 1.5rem;
    color: #ff5c35;
}

#login {
    text-align: center;
}

#email,
#password {
    width: 90%;
    height: 40px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

#forgot-pass {
    text-align: end;
    font-size: 12px;
    margin: 5px 12px;
}

#forgot-pass p {
    color: black;
}

#login-button {
    margin: 2rem 0;
}

#login-button>button {
    width: 90%;
    height: 40px;
    background-color: #ff5c35;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
}

#create-account p,
#create-account a {
    color: black;
}

/* Reviews Section */
#review-section {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

#review-section>h2 {
    padding: 2rem;
    font-size: 3rem;
    color: #ff5c35;
    width: 90%;
    align-self: center;
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgb(247, 242, 242);
    margin-bottom: 2rem;
    text-align: center;
}

.review-box {
    margin: 1.5rem 0;
    background-color: rgb(226, 226, 226);
    max-width: 1250px;
}

.review-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.review-img img {
    width: 100%;
    max-width: 400px;

}

.review-text {
    padding: 1rem;
    text-align: justify;
}

.review-text>p {
    margin-bottom: 1rem;
}

.review-text>h3 {
    margin-top: 1rem;
    color: #ff5c35;
    font-style: italic;
}

/* About us Section */

#about-us-section {
    display: flex;
    justify-content: center;
}

#about-us-container {
    display: flex;
    justify-content: center;
    background-color: rgb(226, 226, 226);
    margin-bottom: 2rem;
    max-width: 1250px;
    width: 90%;
    align-self: center;
    border-radius: 20px;

}

#about-us-text {
    text-align: center;
    padding: 1rem;
    background-color: rgb(226, 226, 226);
    border-radius: 20px;
}

#about-us-text>h2 {
    color: #ff5c35;
    font-size: 3rem;
    margin-bottom: 1rem;
}

#about-us-text>p {
    text-align: justify;
    max-width: 600px;
}

#about-us-text span {
    font-size: x-large;
}

#about-us-img {
    display: none;
    /* This image will only show up in screens 1024px and above*/
}


/* Footer Section */

footer {
    background-color: rgb(41, 41, 41);
    color: #ff5c35;
}

#footer-container {
    text-align: center;
}



#socials {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#socials>h2 {
    font-size: xx-large;
    padding: 1rem;
}

#socials>div {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1rem 0;
    color: #ff5c35;
}

#socials-icons a {
    color: #ff5c35;
}

.drop-downs {
    margin: 1rem;
}

#page-toggle-label,
#support-toggle-label {
    font-size: x-large;
    font-weight: bold;
}

/*This will Style the footer section with a dropdown button when viewing on smaller screens */
#page-toggle,
#support-toggle,
.footer-menu {
    display: none;
    text-decoration: none;
}

#page-toggle:checked~.footer-menu {
    display: block;
}

#support-toggle:checked~.footer-menu {
    display: block;
}

.footer-menu a {
    color: white;
    line-height: 2;
    text-decoration: none;
}

#address {
    display: flex;
    flex-direction: column;
}

#address>h3 {
    margin-bottom: 1rem;
}

#address>p {
    color: white;
}





/* Media Query for screens 320px and above */


/* This media query is needed so that in 768px screens, the featured car column is aligned with each other */
@media screen and (min-width: 320px) {

    .featured-car {
        width: 300px;
    }

    #landing-text>p {
        line-height: 1.7;
    }

    /* Log in Section */

    #login-container {
        background: url(../images/background-image4.jpg) left center / cover;
    }

}



/* Media Query for Screens 768px and above */

@media screen and (min-width: 768px) {

    /* Header Styles */
    header>a {
        order: 0;
    }

    /* Navigation Bar */
    nav {
        position: static;
        display: block;
        box-shadow: none;
        width: 65%;
        font-size: 1rem;
    }

    .register .fa-user {
        display: inline-block;
    }

    #menu {
        display: flex;
        justify-content: space-around;
    }

    #menu>li a {
        border-radius: 10px;
        cursor: pointer;
        transition: .4s;
        padding: .7em 1em;
    }

    #menu>li a:hover .fa-solid {
        color: black;
    }

    #menu>li a:hover {
        padding: .7em 1em;
        background-color: #ff5c35;
        color: black;
        opacity: .8;
    }

    /* Sets hover animation the same as non-active class */
    #menu>li:hover .active {
        padding: .3em .7em;
    }


    #nav-toggle-label {
        display: none;
    }

    /* Main Section */

    /* Changes the background position when viewing in larger screens */
    #landing-page {
        background-image: -webkit-linear-gradient(-30deg, white 65%, #ff5c35 50%);
        height: auto;
        justify-content: space-evenly;
    }

    #landing-page h1 {
        color: #ff5c35;
        font-size: 5rem;
    }

    /* displays the landing page image on bigger screens */
    #landing-page-img {
        display: block;

    }

    #return-date-div {
        display: block;
    }

    .featured-car {
        width: 300px;
    }

    #apps-container {
        width: 100%;
    }

    /* Search Section */
    #search-container {
        width: 95%;
        max-width: 1000px;
    }

    #car-search {
        flex-direction: row;
        justify-content: space-between;
    }

    .search-button {
        margin-top: 2rem;
    }

    /* Services Section */
    #list-info {
        margin: 2rem 0;
    }

    #list-info-img img {
        display: flex;
        justify-content: space-around;
        margin-right: 2rem;
    }

    /* Contact us Section */

    #contact-us-content {
        grid-template-columns: 250px 250px;
    }

    #contact-section {
        min-height: 80vh;
    }

    /* Log in Section */
    #login-container {
        align-items: baseline;
        min-height: 90vh;
    }

    #login-container h1 {
        padding-left: 60px;
    }


    /* Review Section */
    #review-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .review-box {
        display: flex;
        width: 80%;
        align-items: center;

    }

    .review-img img {
        width: 400px;
        height: 227px;
        object-fit: cover;
    }

    .woman img {
        border-radius: 0 50px 0 50px;
    }

    .man {
        order: 2;

    }

    .man~.review-text h3 {
        text-align: right;
    }

    .man img {
        border-radius: 50px 0 50px 0px;
    }


    /* Footer Section */
    #footer-container {
        display: flex;
        justify-content: space-around;
    }

    .footer-menu {
        display: block;
    }

    .footer-menu>ul {
        margin-top: 1rem;
    }

    .footer-menu a {
        cursor: pointer;
        /* pointer only shows up when hovering on the letters*/
    }

    #page-toggle-label .fa-solid,
    #support-toggle-label .fa-solid {
        display: none;
    }

    #socials {
        align-items: flex-start;
    }

    #socials>h2 {
        align-items: flex-start;
    }

    #socials-icons {
        cursor: pointer;
    }


}




/* Media Query for screens 1024px and above */

@media screen and (min-width: 1024px) {
    #landing-page {
        flex-direction: row;

    }

    /* Sets landing text to 50% of viewport width*/
    #landing-text {
        width: 80%;
        margin: 0;
    }

    #landing-page-img {
        margin: 0;
    }

    #landing-page-img img {
        max-width: 100%;
        margin: 0;
    }



    /* Services Section */

    #services-column {
        order: 0;
        width: 50%;
        align-items: center;
    }

    #services-text {
        margin-right: 30px;
        max-width: 550px;
    }

    #services-container {
        flex-direction: row;
    }



    /* styling for hover animation */
    .featured-car-box {
        cursor: pointer;
    }

    .featured-car {
        width: 400px;
        position: relative;
        height: 400px;
    }

    .featured-car img {
        height: auto;
        display: block;
        max-height: 100%
    }

    .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.75);
        width: 100%;
        height: 0;
        transition: 0.5s ease;
        margin-bottom: 0;
        justify-content: space-evenly;
        text-align: center;
    }

    .featured-car:hover .overlay {
        height: 100%;
        color: white;
    }

    /* About us Section */
    #about-us-container {
        justify-content: space-around;
        padding: 1rem;
    }

    #about-us-img {
        display: flex;
        align-items: center;
        order: -1;
    }

    #about-us-img img {
        object-fit: cover;
        width: 350px;
        height: 350px;
        border-radius: 50%;
        object-position: top left;
    }

    /*Contact us section */
    #contact-us-content {
        grid-template-columns: 250px 250px 250px;
    }
}


@media screen and (min-width: 2000px) {
    #landing-text>h1 {
        font-size: 13rem;
    }

    #landing-text>p {
        font-size: 2rem;
    }
}