/* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&family=Roboto:wght@500&display=swap');

/* General Styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "roboto", sans-serif;
}

/* Body Styling */
body {
    display: flex;
    flex-direction: column;
}

/* Header Styles */

/* Sets responsiveness of logo image*/
#mylogo {
    width: 100px;
    margin-top: 5px;
}

/* Swaps the order of logo and menu on smaller screens */
header>a {
    order: 2;
    margin: 0 1rem;
}


/* Navigation Section */

/* header displays hamburger button on smaller screens */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    background-color: rgb(41, 41, 41);
    position: fixed;
    width: 100vw;
    z-index: 99;
    box-shadow: 0 1px 2px #ff5c35;
}

.fa-bars {
    padding: 0 15px;
    color: #ff5c35;
}


/* Only displays content when  hamburger button is clicked*/
#nav-toggle,
#icons-container {
    display: none;
}

/* Drop Down Menu */
nav {
    position: absolute;
    top: 100%;
    background-color: inherit;
    width: 100%;
    box-shadow: 0 1px 2px #ff5c35;
    line-height: 2.3rem;
    padding: 0 10px;
    display: none;
}

#menu a {
    text-decoration: none;
    color: white;
}

#nav-toggle:checked~nav {
    display: block;
    background-color: inherit;
}

/* Provides an indicator on which page is currently on screen*/

#menu .active {
    font-size: x-large;
    font-weight: bold;
    text-decoration: underline;
    color: #ff5c35;
    padding: 1px
}

.register .fa-user {
    display: none;
    color: #ff5c35;
}


/* Main content */

main {
    min-height: 100vh;
    margin-top: 65px;
    color: black;
}

#landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ff5c35;
    background-image: -webkit-linear-gradient(-30deg, white 85%, #ff5c35 50%);
    height: 100vh;
    background-size: cover;

}

#landing-page h1 {
    color: #ff5c35;
    font-size: 3.4rem;
}

span {
    color: #ff5c35;
    font-size: xx-large;

}

.welcome-text {
    font-size: x-large;
}

#landing-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

#landing-text>.site-description {
    max-width: 60ch;
}

#landing-text p {
    width: 100%;
    text-align: center;
    margin: 1rem;
}


#landing-page-img {
    width: 100%;
    margin-top: 2rem;
    text-align: center;
    display: none;
}

#landing-page-img img {
    width: 100%;
    max-width: 600px;

}

#apps-container {
    width: 20ch;
}

.apps {
    padding: 1em 2em;
    background-color: #ff5c35;
    border: none;
    border-radius: 20px;
    color: black;
    transition: .15s;
    cursor: pointer;
    margin: .3rem;

}

.apps:hover {
    opacity: .8;
}


/* Main Section */
#main-section {
    text-align: center;
    background-color: rgb(247, 242, 242);

}

#main-section>h2 {
    padding: 2rem;
    font-size: xx-large;
    color: #ff5c35;
}


/* Featured cars Section */
#featured-cars-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
    align-items: center;
    background-image: -webkit-linear-gradient(60deg, rgb(196, 196, 196) 55%, white 50%)
}

.featured-car {
    margin: 1rem;
    background-color: rgb(206, 206, 206);
    box-shadow: 0 0 5px black;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

/* Centers the image and text of featured cars section*/

.overlay {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 2rem;

}

.overlay>h3 {
    margin-bottom: 1rem;
}

/* Makes the Featured images the same dimensions*/
.featured-car img {
    width: 100%;
    margin-bottom: 1rem;
    height: 210px;
    object-fit: cover;
}

.featured-car h3 {
    font-size: x-large;
    color: #ff5c35;
}

/* styles the featured cars description */
.featured-car-description {
    max-width: 30ch;
    color: black;
}




/* Search Section*/

#search-bar {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

#search-container {
    width: 80%;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 1px black;
    padding: 1rem;
}

#cars,
#pickup-date,
#return-date {
   width: 100%;
   height: 50px;
   border: 1.5px solid black;
   text-align: center;
   margin-top: 1rem;
}

#car-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    color: #ff5c35;
}

#car-search>div {
    margin: 1rem;
    text-align: center;
}

.search-button {
    background-color: #ff5c35;
    padding: 1em 2em;
    border: 1px solid black;
    box-shadow: 1px 4px 5px black;
    border-radius: 5px;
    color: white;
    transition: 0.15s;
    font-size: 1rem;
    cursor: pointer;
}

.search-button:hover {
    opacity: 0.8;
}

/* Our Car Options Section */


#our-cars-container {
    background-image: -webkit-linear-gradient(-41deg, white 55%, rgb(196, 196, 196)50%);
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#our-cars-container>h2 {
    padding: 0 0 3rem 0;
    font-size: xx-large;
    color: #ff5c35;
}

#our-cars {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.car-list {
    border: 1px solid black;
    box-shadow: 0 0 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 250px;
    height: 500px;
    padding: 0 0 1rem 0;
    overflow: hidden;
    margin-bottom: 2rem;
}


.our-cars-img img {
    max-width: 100%;
    object-fit: cover;
    height: 186px;
    transition: 0.15s;
}

.car-list>p {
    font-size: x-large;
    font-weight: bold;
}

.car-list-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.car-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

.price {
    font-size: 2rem;
    padding: 1rem 0;
}

.rent-button {
    background-color: #ff5c35;
    padding: .8em 3em;
    border-radius: 5px;
    border: 1px solid black;
    color: white;
    cursor: pointer;
    box-shadow: 1px 4px 5px black;
}

.rent-button:hover {
    opacity: 0.8;
}


/* Services Section */
#services-container {
    display: flex;
    justify-content: space-around;
    background-color: rgb(224, 223, 223);
    flex-direction: column;

}

#services-column {
    display: flex;
    flex-wrap: wrap;
    order: 2;
    justify-content: center;

}

.services-box>i {
    color: black;
}

.services-box {
    width: 300px;
    height: 200px;
    background-color: #ff5c35;
    border: 1px solid black;
    color: black;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 1rem;
    border-radius: 20px;
}

#services-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem 0;
    padding: 1rem 0;
    background-color: #ff5c35;
    border-radius: 10px;
    width: 90%;
    max-width: 690px;
    align-self: center;
}

#services-text>h2 {
    font-size: 3rem;
    margin: 1rem;
}

#services-text>p {
    padding: 2rem;
    font-size: 1.3rem;
    text-align: justify;
}

/* Reviews Section */
#review-section>h2 {
    padding: 2rem 0;
    color: #ff5c35;
    text-align: center;
}

.review-box {
    margin: 1.5rem 0;
    background-color: rgb(226, 226, 226);
}

.review-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.review-img img {
    width: 100%;
    max-width: 400px;

}

.review-text {
    padding: 1rem;
    text-align: justify;
}

.review-text>p {
    margin-bottom: 1rem;
}

.review-text>h3 {
    margin-top: 1rem;
    color: #ff5c35;
    font-style: italic;
}



/* Footer Section */

footer {
    background-color: rgb(41, 41, 41);
    color: #ff5c35;
}

#footer-container {
    text-align: center;
}



#socials {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#socials>h2 {
    font-size: xx-large;
    padding: 1rem;
}

#socials>div {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1rem 0;
    color: #ff5c35;
}

.drop-downs {
    margin: 1rem;
}

#page-toggle-label,
#support-toggle-label {
    font-size: x-large;
    font-weight: bold;
}

/*This will Style the footer section with a dropdown button when viewing on smaller screens */
#page-toggle,
#support-toggle,
.footer-menu {
    display: none;
}

#page-toggle:checked~.footer-menu {
    display: block;
}

#support-toggle:checked~.footer-menu {
    display: block;
}

.footer-menu a {
    color: white;
    line-height: 2;
}

#address {
    display: flex;
    flex-direction: column;
}

#address>h3 {
    margin-bottom: 1rem;
}
#address>p {
    color: white;
}





/* Media Query for screens 320px and above */


/* This media query is needed so that in 768px screens, the featured car column is aligned with each other */
@media screen and (min-width: 320px) {

    .featured-car {
        width: 300px;
    }

    #landing-text>p {
        line-height: 1.7;
    }

    /* This will display "learn More" button below the 2 logos in smaller screens*/


}



/* Media Query for Screens 768px and above */

@media screen and (min-width: 768px) {

    /* Header Styles */
    header>a {
        order: 0;
    }

    /* Navigation Bar */
    nav {
        position: static;
        display: block;
        box-shadow: none;
        width: 65%;
        font-size: 1rem;
    }

    .register .fa-user {
        display: inline-block;
    }

    #menu {
        display: flex;
        justify-content: space-around;
    }

    #menu>li a {
        padding: 1.5em 1em;
        border-radius: 10px;
        cursor: pointer;
        transition: .4s;
    }

    #menu>li a:hover {
        padding: .7em 1em;
        background-color: #66fcf1;
        color: black;
        opacity: .6;
    }

    /* Sets hover animation the same as non-active class */
    #menu>li .active:hover {
        padding: .4em .5em
    }

    #menu>li .active {
        padding: 1.3em .5em;

    }


    #nav-toggle-label {
        display: none;
    }

    /* Main Section */

    /* Changes the background position when viewing in larger screens */
    #landing-page {
        background-image: -webkit-linear-gradient(-30deg, white 65%, #ff5c35 50%);
        height: 100vh;
    }

    #landing-page h1 {
        color: #ff5c35;
        font-size: 6rem;
    }

    /* displays the landing page image on bigger screens */
    #landing-page-img {
        display: block;

    }

    #return-date-div {
        display: block;
    }

    .featured-car {
        width: 300px;
    }

    #apps-container {
        width: 100%;
    }

    #car-search {
        flex-direction: row;
    }
    .search-button {
        margin-top: 2rem;
    }
    
    



    /* Review Section */
    #review-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .review-box {
        display: flex;
        margin: 4rem 0;
        width: 90%;
        align-items: center;

    }

    .review-img img {
        width: 400px;
        height: 227px;
        object-fit: cover;
    }

    .woman img {
        border-radius: 0 50px 0 50px;
    }

    .man {
        order: 2;

    }

    .man~.review-text h3 {
        text-align: right;
    }

    .man img {
        border-radius: 50px 0 50px 0px;
    }

    /* Footer Section */
    #footer-container {
        display: flex;
        justify-content: space-around;
    }

    .footer-menu {
        display: block;
    }

    .footer-menu a {
        cursor: pointer; /* pointer only shows up when hovering on the letters*/
    }

    #page-toggle-label .fa-solid,
    #support-toggle-label .fa-solid {
        display: none;
    }
    #socials {
        align-items: flex-start;
    }

    #socials>h2 {
        align-items: flex-start;
    }

    #socials-icons {
        cursor: pointer;
    }

    
}




/* Media Query for screens 1024px and above */

@media screen and (min-width: 1024px) {
    #landing-page {
        flex-direction: row;

    }

    /* Sets landing text to 50% of viewport width*/
    #landing-text {
        width: 80%;
        margin: 0;
    }

    #landing-page-img {
        margin: 0;
    }

    #landing-page-img img {
        max-width: 800px;
        margin: 0;
    }

    /* Services Section */

    #services-column {
        order: 0;
        width: 50%;
    }

    #services-text {
        margin-right: 30px;
        max-width: 550px;
    }

    #services-container {
        flex-direction: row;
    }

    /* styling for hover animation */
    .featured-car-box {
        cursor: pointer;
    }

    .featured-car {
        width: 400px;
        position: relative;
        height: 400px;
    }

    .featured-car img {
        height: auto;
        display: block;
        max-height: 100%
    }

    .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.75);
        width: 100%;
        height: 0;
        transition: 0.5s ease;
        margin-bottom: 0;
        justify-content: space-evenly;
        text-align: center;
    }

    .featured-car:hover .overlay {
        height: 100%;
        color: white;
    }
}

